a:hover{
    color: #E67918;
}   
h2 {
    padding-bottom: 5px;
}
#parent-fieldname-text > h3 {
    padding-bottom: 10px;
}
.fa-clock-o::before {
    display: none;
}
#edit-zone {
    z-index: 100;
}
.edu2_faculty_des > figure > img {
    width: 100%;
}
.bx-wrapper {
    padding: 0 0 0 10px;
}
#portal-column-content {
    padding: 0px;
}
#portal-column-content > div section{
    padding: 10px 0px 0;
}
.edu2_ft_topbar_des form input[type="text"] {
    background-color: transparent;
    border: 1px solid #EBE8E3;
    box-shadow: none;
    color: #fff;
    float: left;
    font-size: 15px !important;
    height: 50px;
    padding: 7px 125px 7px 15px;
    text-transform: capitalize;
    width: 100%;
}
.edu2_ft_topbar_des form input[type="text"]:focus {
    border-color: #fff !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
#results-count{
    font-size: 20px;
	font-weight: bold;
}	
.searchResults{
    margin-top: 10px;
}
#searchResultsSort {
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.searchResults > li {
    border-bottom: 1px dotted #999;
    padding-bottom: 15px;
    padding-top: 15px;
}
.documentLocation{
    font-size: 13px;
	font-style:normal;
}
.searchResults > li > dd {
    padding-top: 10px;
}

#breadcrumbs-current {
    color: #ddd;
    font-size: 14px;
}
#portaltab-index_html > a {
    display: none;
}
.portletHeader {
    color: #735c4c;
    font-size: 18px;
}
.widget-archive ul li a::before {
    color: #a49b94;
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    left: 0;
    padding-right: 4px;
}
.widget.widget-links  > h5 {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}
footer .widget h5 {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}
.section-event .kf_inr_banner::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.section-event .kf_inr_banner {
    background-image: url("../images/event.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.section-admissions .kf_inr_banner {
    background-image: url("../images/admissions.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.section-news .kf_inr_banner {
    background-image: url("../images/news.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.section-history_culture .kf_inr_banner {
    background-image: url("../images/history_culture.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.section-course .kf_inr_banner {
    background-image: url("../images/course.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.section-exchanges .kf_inr_banner {
    background-image: url("../images/exchanges.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.section-project .kf_inr_banner::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.section-project .kf_inr_banner {
    background-image: url("../images/project.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 40px 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.tileHeadline {
    font-size: 20px;
}
.tileItem {
    border-bottom: 1px dotted #b2a296;
    margin-bottom: 10px;
    padding-bottom: 10px;
	padding-top: 10px;
}
.tileFooter {
    display: none;
}

.day {
    color: #888;
    font-size: 14px;
    padding-left: 15px;
}
.article-block-horz, .people-block-horz {
    margin-bottom: 35px;
    margin-left: 0;
}

.article-block-horz li, .people-block-horz li {
    border-bottom: 1px solid #cacaca;
    list-style: outside none none;
    margin-bottom: 28px;
    min-height: 210px;
    padding-bottom: 28px;
    padding-left: 204px;
    position: relative;
}
.article-block-horz li img, .people-block-horz li img {
    left: 0;
    position: absolute;
    top: 0;
}
.article-block-horz li, .people-block-horz li {
    list-style: outside none none;
}

.showmore {
    line-height: 38px;
}
.widget-archive span {
    background: #fbfbf9 url("../../resource/images/more.png") no-repeat scroll 13px center;
    border: 1px solid #ddd;
	border-radius: 4px;
    font-size: 15px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 15px;
}
.widget-archive span:hover {
    background:#ffffff url("../../resource/images/more-hover.png") no-repeat scroll 13px center;
    box-shadow: 0 3px 3px rgba(20%, 20%, 40%, 0.2);
}
.ploneCalendar td.cal_prev_month, .ploneCalendar td.cal_next_month {
    background-color: #fff;
    opacity: 0.4;
	
}
.ploneCalendar td.today {
    border-color: #eee;
}
.ploneCalendar .event {
    cursor: default;
}
.portletContent caption {
    display: none;
}
#login-forgotten-password {
    margin-bottom: 20px;
    margin-top: 20px;
}
.formControls {
    margin-top: 20px;
}
.field {
    margin-bottom: 20px;
}


.banner_box {
    display: inline-block;
    margin-bottom: 10px;
}
blockquote {
    background-color: #fbfaf8;
    background-image: url("../../../resource/images/f-braudel.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    border-color: #cacaca #cacaca #cacaca #a51c30;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 20px 18px;
    position: relative;
}
/*
=================================================
			RWD for mobil 480px
=================================================
*/
@media (max-width: 480px) {
figure img {
    float: left;
    height: auto;
    width: auto;
}
.broadcast_wrap {
    margin-top: 0px;
	margin-bottom: 10px;
}
.quot{
    display: none;   
}	
.banner_box {
    display: inline-box;
    width: 49.2%;
}
#portal-column-content > div section {
    padding: 6px 0 0;
}
.article-block-horz li, .people-block-horz li {
    margin-bottom: 20px;
    min-height: 65px;
    padding-bottom: 10px;
    padding-left: 65px;
    width: auto;
}
.article-block-horz li img, .people-block-horz li img {
    max-width: 55px;
    position: absolute;
}
.article-block-horz h2 {
    font-size: 20px;
}	
.article-block-horz p {
    font-size: 15px;
}
.sidebar_rpost_des > li {
    border-bottom: 1px dotted #dcdcdc;
    padding-bottom: 5px;
}
.section-admissions .kf_inr_banner {
	padding: 30px 0;
}
.section-news .kf_inr_banner {
	padding: 30px 0;
}
.section-history_culture .kf_inr_banner {
	padding: 30px 0;
}
.section-course .kf_inr_banner {
	padding: 30px 0;
}
.section-event .kf_inr_banner {
	padding: 30px 0;
}
.section-exchanges .kf_inr_banner {
	padding: 30px 0;
}
}
/*=================================================*/
